<mat-toolbar>
  <button mat-button>
    <span (click)="redirect('/dashboards')">
      <img class="logo" src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_square_2-d537fb228cf3ded904ef09b136fe3fec72548ebc1fea3fbbd1ad9e36364db38b.svg" alt="">
    </span>
  </button>
  
  <button mat-button [matMenuTriggerFor]="menuMovies">Movies</button>
  <mat-menu #menuMovies="matMenu">
    <button (click)="redirect('/movie/popular')" mat-menu-item>Popular</button>
    <button (click)="redirect('/movie/upcoming')" mat-menu-item>Upcoming</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="menuTV">TV Shows</button>
  <mat-menu #menuTV="matMenu">
    <button (click)="redirect('/tv/popular')" mat-menu-item>Popular</button>
    <button (click)="redirect('/tv/top-rated')" mat-menu-item>Top rated</button>
  </mat-menu>

</mat-toolbar>

<div>
  <router-outlet></router-outlet>
</div>